.card-link {
  text-decoration: none;
  color: inherit;
  
}

.container {
    margin-top: 2%; 
    



  }

  .container-items{
    margin-top: 3%;
    
  }

  .montagne{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: cover;
    
  }

  .cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px; /* Espace entre les cartes */
        justify-content: space-evenly; /* Distribue les cartes avec un espace égal */
        padding-top: 4%;
        padding-bottom: 4%;
        width: 90%;
        margin: auto;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    position: relative; /* Permet de bien gérer les dimensions */
    height: 223px; /* Hauteur fixe pour éviter le décalage */
  }

  .image-container::after {
    content: "Chez vous, partout et ailleurs";
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%; /* Recouvre toute l’image */
    height: 100%;
    position: absolute;
      left: 0;
  }
   
  ///////////cards 
 

  .cards {
    width: 300px; /* Largeur du composant */
    height: 270px; /* Hauteur du composant */
    border-radius: 20px; /* Coins arrondis */
    background-size: cover; /* Ajuste l'image de fond pour couvrir tout le conteneur */
    background-position: center; /* Centre l'image de fond */
    display: flex;
    align-items: flex-end; /* Place le titre en bas */
    justify-content: flex-start; /* Aligne le titre à gauche */
    padding: 20px; /* Ajoute un espace entre le titre et les bords */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Effet au survol */
    right: 10px;
  flex-wrap: wrap;
  object-fit: cover; 
}

.thumb-title {
  color: white; /* Couleur du texte */
  font-size: 18px; /* Taille du texte */
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Améliore la lisibilité sur une image */
}
  
  .text {
    font-size: 20px;
    color: white;
    font-weight: 700;
  }

  
  @media (min-width: 1024px) {


  .cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espace entre les cartes */
    justify-content: space-evenly; /* Distribue les cartes avec un espace égal */
    padding-top: 4%;
    padding-bottom: 4%;
    width: 90%;
    margin: auto;
    background: #F6F6F6;
    border-radius: 15px
}
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: 0 auto;
      position: relative; /* Permet de bien gérer les dimensions */
      height: 223px; /* Hauteur fixe pour éviter le décalage */
    }
  
    .image-container::after {
      content: "Chez vous, partout et ailleurs";
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
      color: white;
      text-align: center;
      width: 100%; /* Recouvre toute l’image */
      height: 100%;
      position: absolute;
        left: 0;
    }
  
    .montagne {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
      
    }
  }
  


  @media screen and (min-width: 320px) and (max-width: 1024px){

    .image-container { 
      position: relative;
      height: 111px;
 
  }

  .cards{
    box-sizing: border-box;
    width: 100%; 
  }

  .card-link {
    text-decoration: none;
    color: inherit;
    width: 100%;
}



  }

  /* Responsive Design */
